<!DOCTYPE html>
<html>
<head>
<title>Rocha</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></link>

</head>
<body>
<div th:include="menu/menu :: menu"></div>
<form class="col s12" th:action="@{/cota/anual/cadastrar}" th:object="${cotaAnual}" method="POST">
	<div class="container">
		<h2 class="red-text text-darken-4">Cadastro Cota</h2>

		<div class="row">
			<div class="input-field col s4">
					<label for="valor">Valor</label>
					<input type="text" th:field="*{valor}" />
			</div>
		</div>
		
		<div class="row">	
			<div class="input-field col s4">
					<label for="ano">Ano</label>
					<input type="text" th:field="*{ano}"/>
			</div>
		</div>
			
		<div class="form-group">
			<button class="btn btn-success" type="submit">Salvar</button>
		</div>
		
		
		
		
		
	</div>
</form>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>


</html>